@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #eaeaea;
  background-color: #101010;
  font-family: 'SF Pro Text', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: #101010;
}
